# R Studio
.Rproj.user
.Rhistory
.RData
.Ruserdata
.RDataTmp

# custom
archive
etymologies_of_jargon.Rproj
temp*
notes*
*.csv
figures

# miscellaneous
.DS_Store
playground*.*

# python 
__pycache__

# latex
*.aux
*.fdb_latexmk
*.fls
*.log
*.lot
*.lof
*.idx
*.bbl
*.out
*.toc
*.gz
*.txt

word_counter.py
settings.json